.api-form
    | API Login
    form.form-sign-in(method='POST', action='/api/login', autocomplete="off")
        .form-group
            label Username:
            input.form-control(name='username', type='text')
        .form-group
            label Password:
            input.form-control(name='password', type='password')
        br
        input.btn.btn-primary(type='submit', value='Submit')