extends ./_shared/_master

block head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css")

block content
    div.container.container-comment
        h3
            | Leave a comment for #{title}
        form.form-comment(method='POST', action='' + action)
            .comments
                .form-group
                    label(for='comment') Comment:
                    textarea#comment.form-control(rows='5')
            br
            input.btn.btn-primary(type='submit', value='Submit')

block scripts
    script(src="/static/js/form-validation.js")

